# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

**Objectives:**
+ Data Science task categories
+ Understanding of various IDE's
+ Different libraries used for Data Science
+ API
+ Intro to python and R syntax.

1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

+ Pandas
+ Numpy
+ Matplotlib
+ Pytorch

|Data Science Tools|
|------------------|
|Rstudio|
|Apache Spark|
|Apache Hadoop|
|Jupyterlab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours= minutes/60
print(hours)

3.3333333333333335

## Author
Khadija Irfan